.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1{
  border: #282c34 solid 1px;
  font-size: 2rem;
  padding: auto;
}
.sub{
  margin-top: 2rem;
  margin-bottom:  2rem;
  padding: auto;
  display: flex;
  background-color: #d92c2c;
  color: white;
  justify-content: center;
}
.add{
  display: flex;
  margin-top:  2rem;
  margin-bottom: 2rem;
  padding: auto;
  background-color: #2cd92c;
  color: hsl(0, 0%, 95%);
  justify-content: center;
}